<template>
  <div class="container">
    <h1>Contact</h1>
    <div>
      <p>
        Alors {{ player }} On veut me contacter ? <br>
        <a href="mailto:christopher.bonhomme@gmail.com">Envoyer un mail</a>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'contact',
  props:{
    player: String,
  },
}
</script>

<style scoped>

</style>

