<template>
  <div class="player">
    <div class="container">
    <h1>Historique</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Partie</th>
            <th scope="col">Date</th>
            <th scope="col">Joueur</th>
            <th scope="col">Temps</th>
            <th scope="col">Tours</th>
          </tr>
        </thead>
        <tbody>
          <tr 
            v-for="game in history"
            :key="game.date"
          >
            <th scope="row">{{history.indexOf(game)+1}}</th>
            <td>{{ new Date(game.date).toLocaleDateString("fr") }}</td>
            <td>{{ game.joueur }}</td>
            <td>{{ game.temps.minutes }} minutes et {{ game.temps.seconds }} secondes</td>
            <td>{{ game.tours }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: "history",
  props:{
    player: String,
  },
  computed: {
    history() {
      if (this.$store.state.games.games) {
        return JSON.parse(this.$store.state.games.games);
      }
      return null;
    },
  },
};
</script>

<style scoped></style>
