<template>
  <div class="jeu container">
    <h1>Jeu</h1>
    <div class="d-flex flex-row justify-content-center py-3">
      <div class="p-3"><span class="btn btn-info" id="name-player"> {{ player }} </span></div>
      <div class="turns p-3"><span class="btn btn-info">Tours : <span class="badge" :class="finish ? 'badge-success' : 'badge-light'">{{score}}</span> </span></div>
      <div class="totalTime p-3">
        <span class="btn btn-info">Temps : <span class="badge" :class="finish ? 'badge-success' : 'badge-light'">{{min}} : {{sec}}</span></span>
      </div>
      <div class="totalTime p-3"><button class="btn btn-info" @click="reset" :disabled="!start">Restart</button></div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-xl-5 mx-auto">
        <div class="row justify-content-md-center">
          <div
            v-for="card in memoryCards"
            :key="card.key"
            class="col-auto mb-3 flip-container"
            :class="{ 'flipped': card.isFlipped, 'matched' : card.isMatched }"
            @click="flipCard(card)"
          >
            <div class="memorycard">
              <div class="front border rounded shadow">
                <img
                  width="100"
                  height="150"
                  src="@/assets/images/back.png"
                />
              </div>
              <div class="back rounded">
                <img
                  width="100"
                  height="150"
                  class="center-img"
                  :src= card.img
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import waifu1Img from '../assets/images/waifu1.jpg';
import waifu2Img from '../assets/images/waifu2.png';
import waifu3Img from '../assets/images/waifu3.jpg';
import waifu4Img from '../assets/images/waifu4.png';
import waifu5Img from '../assets/images/waifu5.png';
import waifu6Img from '../assets/images/waifu6.png';
import _ from 'lodash';

export default {
  name: "jeu",
  data() {
    return {
      start: false,
      score: null,
      totalTime: {
        minutes: 0,
        seconds: 0,
      },
      interval: undefined,
      memoryCards: [],
      flippedCards: [],
      finish: false,
      cards: [
        {
          name: "Waifu1",
          img: waifu1Img,
        },
        {
          name: "Waifu2",
          img: waifu2Img,
        },
        {
          name: "Waifu3",
          img: waifu3Img,
        },
        {
          name: "Waifu4",
          img: waifu4Img,
        },
        {
          name: "Waifu5",
          img: waifu5Img,
        },
        {
          name: "Waifu6",
          img: waifu6Img,
        },
      ],
    };
  },
  props:{
    player: String
  },
  computed:{
    sec(){
      if(this.totalTime.seconds < 10){
        return '0'+this.totalTime.seconds;
      }
      return this.totalTime.seconds;
    },
    min(){
      if(this.totalTime.minutes < 10){
        return '0'+this.totalTime.minutes;
      }
      return this.totalTime.minutes;
    }
  },
  mounted() {
    this.cards.forEach((card) => {
      card.isFlipped = false;
    });
    this.memoryCards = _.shuffle(this.memoryCards.concat(_.cloneDeep(this.cards), _.cloneDeep(this.cards)));
    for (let i =0 ; i < this.memoryCards.length; i++){
      Vue.set(this.memoryCards[i],'key',i+1)
    }
  },
  created(){
    this.reset();
  },
  methods: {
    setScore() {
      this.score += 1;
    },
    flipCard(card) {
      if(card.isMatched || card.isFlipped || this.flippedCards.length === 2)
        return;
      if(!this.start){
        this._startGame();
      }
      card.isFlipped = true;
      if(this.flippedCards.length < 2)
        this.flippedCards.push(card);
      if(this.flippedCards.length === 2) {
        this._match(card);
        this.setScore();
      } 
    },
    // eslint-disable-next-line no-unused-vars
    _match(card){
      if(this.flippedCards[0].name === this.flippedCards[1].name)
        setTimeout(() => {
          this.flippedCards.forEach(card => card.isMatched = true);
          this.flippedCards = [];
          if(this.memoryCards.every(card => card.isMatched === true)){
            this.$store.dispatch("games/set", {date: new Date(), joueur: this.player, tours: this.score, temps: this.totalTime});
            clearInterval(this.interval);
            this.finish = true;
          }
        }, 400);
      else
        setTimeout(() => {
          this.flippedCards.forEach((card) => {card.isFlipped = false});
          this.flippedCards = [];
        }, 800);
    },
    _startGame(){
      this._tick();
      this.interval = setInterval(this._tick,1000);
      this.start = true;
    },
    _tick(){
      if(this.totalTime.seconds !== 59){
        this.totalTime.seconds++;
        return
      }
      this.totalTime.minutes++;
      this.totalTime.seconds = 0;
    },
    reset(){
      clearInterval(this.interval);
      this.cards.forEach((card) => {
        Vue.set(card, 'isFlipped',false);
        Vue.set(card, 'isMatched',false);
      });
      setTimeout(() => {  
        this.memoryCards = [];
        this.memoryCards = _.shuffle(this.memoryCards.concat(_.cloneDeep(this.cards), _.cloneDeep(this.cards)));
        this.totalTime.minutes = 0;
        this.totalTime.seconds = 0;
        this.start = false;
        this.finish = false;
        this.score = 0;
        this.flippedCards = []; 
      }, 600);
    },
  },
};
</script>

<style scoped>
.jeu{
  max-width: 100vw;
}
.matched{
   opacity: 0.3;
}
.center-img{
  position: absolute;
  top: 0;
  left: 15;
  text-align: center;
  object-fit: contain;
  border: 2px solid #dee2e6 !important;
}
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  min-height: 120px;
  cursor: pointer;
}
.front,
.back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  top: 0;
  width: 100%;
}
.back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  position: absolute;
}
.flip-container.flipped .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.flip-container.flipped .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#name-player{
  color: white;
}
</style>
