<template>
  <div class="container">
      <h1>Joueur</h1>
      <div class="form-group">
        <label for="player">Nom du joueur</label>
        <input type="text" class="form-control" id="player" v-model="playerName"/>
      </div>
      <button class="btn btn-primary" type="button" v-on:click="setName">Enregistrer</button>
  </div>
</template>

<script>
export default {
  name: 'player',
  data(){
    return{
      playerName: null,
    }
  },
  methods:{
    setName(){
      this.$store.dispatch('player/set', this.playerName);
      this.$router.push('/jeu');
    },
  }
}
</script>

<style scoped>
button{
  display: block;
  text-align: center;
  margin: auto;
}

</style>
