<template>
  <div class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <router-link to="/jeu" class="nav-link">Jeu</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/history" class="nav-link">Historique</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/contact" class="nav-link">Contact</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/name" class="nav-link">{{ action }} Joueur</router-link>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: "my-header",
  props: ["player"],
  computed:{
    action: (vm) => {
      return vm.player === null ? "Choisir" : "Changer";
    },
  }
}
</script>

<style scoped></style>
