<template>
  <div class="main">
    <MyHeader
      :player="playerName"
    ></MyHeader>
    <MyPage
      :player="playerName"
    ></MyPage>
  </div>
</template>
<script>
import MyHeader from "./Header.vue";
import MyPage from "./Page.vue";

export default {
  name: "mainlayout",
  components: {
    MyHeader,
    MyPage,
  },
  computed:{
    playerName(){
      return this.$store.state.player.player
    },
  },
};
</script>

<style scoped></style>
