<template>
  <div class="page">
      <router-view
        :player="player"
      >
      </router-view>
  </div>
</template>

<script>
export default {
  name: 'my-page',
  props:{
    player: String,
  },
}
</script>

<style scoped>

</style>
