<template>
  <div id="app">
    <MainLayout></MainLayout>
  </div>
</template>

<script>
import MainLayout from './components/MainLayout.vue'

export default {
  name: 'app',
  components:{
    MainLayout,
  },
  beforeMount(){
    this.$store.dispatch('player/get')
    this.$store.dispatch('games/get')
  }
}
</script>

<style>
h1{
  text-align: center;
}
p{
  text-align: center;
}
.container{
  padding-top: 5vh ;
}
</style>
